<h1><%= @fes.fes_name %></h1>
フェス開催場所：<%= @fes.fes_place %><br>
フェス開催日:<%= @fes.fes_date %><br>

<% if @artists.nil? %>
        アーティストが未登録です。
        <%= link_to "登録して下さい", artistnew_festival_path(@fes) %>
<% else %>
        <% @artists.each do |f| %>
        出演アーティスト：<%= f.musician %>
        (<%= link_to '編集', edit_artist_path(f) %> |
        <%= link_to '削除', f, method: :delete, data: { confirm: '削除してもよろしいですか？' } %>|
        <%= link_to 'セットリスト登録', musicadd_artist_path(f) %>|
        <%= link_to 'セットリスト表示', artist_path(f) %>)<br>
        <% end %>
        <%= link_to "出演アーティストを追加する", artistnew_festival_path(@fes) %>
<% end %>